
<input placeholder="Input name" [(ngModel)]="nameInput" type="text">
<input placeholder="Input age" [(ngModel)]="ageInput" type="number">

<button (click)="setAccount()">Set Account</button>

<button (click)="deleteAccount()">Delete Account</button><br><br><br>

<!-- ACCOUNT SUBSCRIPTION
<p>Account: {{account | json}}</p><br><br><br>

NAME ONLY SUBSCRIPTION
<p>Name: {{name}}</p><br><br><br>

AGE ONLY SUBSCRIPTION
<p>Age: {{age}}</p><br><br><br> -->

ACCOUNT SUBSCRIPTION
<p>Account: {{account$ | async | json}}</p><br><br><br>

NAME ONLY SUBSCRIPTION
<p>Name: {{accountName$ | async}}</p><br><br><br>

AGE ONLY SUBSCRIPTION
<p>Age: {{accountAge$ | async }}</p><br><br><br>



<router-outlet></router-outlet>
